<%- include('parts/header.ejs')%>
<%- include('parts/navbar.ejs')%>

<div class="container text-center">
    <h3> creat acount </h3>
    <form action="/signup" method="POST">
        <input type="text" name="username" class="form-control" placeholder="UserName">
       
        <input type="email" name="email" class="form-control" placeholder="E-mail">
        
        <input type="password" name="password" class="form-control" placeholder="password">
       
        <input type="password" name="Confirm password" class="form-control" placeholder="Confirm password">
        
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <br>
    <% if(authError){ %>
        <div class="alert alert-danger">
            <%= authError %>
        </div>
        <% } %>
    <br>
    <div>
        Aleardy have account ? <a href="/login"></a>
    </div>
</div>

<%- include('parts/footer.ejs')%>
